<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		 <!-- <typeAlias alias="User" type="com.apeces.domain.User"/> -->
		 <typeAlias alias="Manager" type="com.apeces.domain.Manager"/>
	</typeAliases>

	<!-- 环境, 就是配置数据库访问环境的标签. default - 默认使用什么环境 -->
	<environments default="development">
		<!-- 配置具体的某一个环境id - 当前环境的命名 -->
		<environment id="development">
		<!-- 事务管理方式, 当前框架管理数据库事务使用什么技术. type - 使用的具体技术. JDBC, 就是Connection.commit()/rollback() -->
		<transactionManager type="JDBC" />
		<!-- 数据源, 访问的数据库参数 type - 管理方式, 管理Connection的方式, POOLED , 代表池化管理. 就是连接池. -->
		<dataSource type="POOLED">
			<!-- 配置具体参数 -->
			<property name="driver" value="com.mysql.cj.jdbc.Driver" />
			<property name="url" value="jdbc:mysql://localhost:3306/city_book_house" />
			<property name="username" value="root" />
			<property name="password" value="root" />
		</dataSource>
		</environment>
	</environments>

</configuration>