<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.cbh.dao.CategoryDao">
	<resultMap id="category" type="com.cbh.domain.Category">
        <result property="id" column="id"/>
        <result column="category_name" property="category_name"/>
        <result column="pid" property="pid"/>
        
        <collection property="firstCate" ofType="com.cbh.domain.Category">
        	<id column="cid" property="id" />
        	<result column="parent_name" property="category_name"/>
        </collection>
    </resultMap>

    <resultMap id="categoryCount" type="java.lang.Integer">
        <result column="count"/>
    </resultMap>
    
    <resultMap id="categorySingle" type="com.cbh.domain.Category">
        <result property="id" column="id"/>
        <result column="category_name" property="category_name"/>
        <result column="pid" property="pid"/>
    </resultMap>
    
    <!-- 列表查询 -->
    <select id="getCategoryList" parameterType="Map" resultMap="category, categoryCount">
        SELECT SQL_CALC_FOUND_ROWS 
        	cate.*, c.id as cid, c.category_name as parent_name
        FROM 
        	cb_category AS cate
        	LEFT JOIN cb_category AS c ON cate.pid = c.id
        <where>
        	<if test="second_category_id == null">
                cate.pid > 0
            </if>
        	<if test="second_category_id != null">
                cate.id = #{second_category_id}
            </if>
        	<if test="first_category_id != null">
                and cate.pid = #{first_category_id}
            </if>
        </where>
        ORDER BY 
        	id DESC 
        LIMIT #{limit} OFFSET #{offset};
        
        SELECT FOUND_ROWS() as count;
    </select>
    
    <!-- 单条记录查询 -->
    <select id="getCategoryById" resultMap="category">
        SELECT 
        	cate.*, c.id as cid, c.category_name as parent_name 
       	FROM 
       		cb_category AS cate
       		LEFT JOIN cb_category AS c ON cate.pid = c.id
     	WHERE cate.id=#{id};
    </select>
    
    <!-- 新增 -->
    <insert id="insertCategory" parameterType="com.cbh.domain.Category">
 		<!-- 插入后获取id -->
    	<selectKey keyProperty="id" keyColumn="id" resultType="int" order="AFTER">
    		SELECT last_insert_id();
    	</selectKey>
        INSERT INTO
        cb_category(category_name,pid,create_time)
        VALUES(#{category_name},#{pid},#{create_time});
    </insert>
    
    <!-- 根据分类名精确查询 -->
    <select id="getCategoryByName" parameterType="String" resultMap="category">
        SELECT * FROM cb_category WHERE category_name = #{category_name} AND pid = 0 LIMIT 1;
    </select>
    
    <!-- 更新 -->
    <update id="updateCategory" parameterType="com.cbh.domain.Category">
    	UPDATE cb_category set 
        	category_name = #{category_name},
        	pid = #{pid}
		where
			id = #{id};
    </update>
    
    <!-- 删除 -->
    <delete id="delCategoryById" parameterType="java.lang.Integer">
        DELETE FROM cb_category WHERE id = #{id};
    </delete>
    
    <!-- 所有分类返回 -->
    <select id="getCategoryWithLevel" resultMap="categorySingle, categorySingle">
    	SELECT * FROM cb_category WHERE pid = 0;
    	SELECT * FROM cb_category WHERE pid > 0;
    </select>
    
    <!-- 统计 -->
    <select id="countCategory" resultType="java.lang.Integer">
    	SELECT COUNT(*) FROM cb_category WHERE pid > 0;
    </select>
    
    <!-- 批量导入-新增 -->
    <insert id="insertExcCate" parameterType="com.cbh.pojo.firstCategory">
 		<!-- 插入后获取id -->
    	<selectKey keyProperty="id" keyColumn="id" resultType="int" order="AFTER">
    		SELECT last_insert_id();
    	</selectKey>
        INSERT INTO
        cb_category(category_name,pid,create_time)
        VALUES(#{category_name},#{pid},#{create_time});
    </insert>
    
    
    <!-- ————————  以下为移动端api  —————— -->
    
    <!-- 首页分类展示 -->
    <select id="getIndexCategory" resultMap="category">
    	SELECT
			c.id, c.category_name, c.pid,
			COUNT(b.id) AS count 
		FROM
			cb_category AS c
			LEFT JOIN cb_books AS b ON b.second_category_id = c.id 
		WHERE
			pid > 0 
		GROUP BY
			c.id DESC 
		ORDER BY
			count DESC 
			LIMIT 4;
    </select>
    
    <resultMap id="categoryAllBaseFirst" type="com.cbh.pojo.firstCategory">
        <result property="id" column="id"/>
        <result column="category_name" property="category_name"/>
        <result column="pid" property="pid"/>
        
        <collection property="second_cate" ofType="com.cbh.domain.Category">
        	<id column="cid" property="id" />
        	<result column="childname" property="category_name"/>
        </collection>
    </resultMap>
    
    <!-- 所有分类 -->
    <select id="getCategory" resultMap="categoryAllBaseFirst">
    	SELECT
			c.*,
			cc.id as cid, cc.category_name as childname
		FROM
			cb_category AS c
			LEFT JOIN cb_category AS cc ON c.id = cc.pid 
		WHERE
			c.pid = 0 
		ORDER BY
			id DESC;
    </select>
</mapper>